* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  font-family:monospace;
  line-height: 1.5;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffefd5;
  color: #2F3061;
  border-style: solid;
  border-width: 1px;
  border-color: #9AB19E;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  color: #357266;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 30px;
  padding-bottom: 5px;
}
p {
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end; 
}

nav > a {
  margin: 10px;
  color: #42436F;
  font-size: 18px;
}
#about {
  margin-bottom: 10px;
  margin-top: 10px;
}

.aboutMe {
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 30px;
  border-color: #9AB19E;
}

.aboutMeText {
  font-size: 20px;
  text-align: justify;
}

.avatar img {
  width: 200px;
  height: 200px;
  float: left;
  padding: 5px 10px 0 0;
  border-radius: 25px;
}

header {
  color: #357266;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  border-color: #9AB19E;
  border-width: 1px;
  border-bottom-style: solid;
  padding-left: 5px;
}

.page-section {
  margin-top: 10px;
  color: #42436F;
}
.project-lists {
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  margin: 0;
  margin-bottom: 10px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 300px 300px;
  grid-template-areas: 
   "project1 project1 project2"
   "project3 project4 project5"
   ;
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 50px;
  border-color: #9AB19E;
}

h3 {
  color:#42436F;
  margin-left: 15px;
  padding-top: 1px;
}

.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}

.project3 {
  grid-area: project3;
}

.project4 {
  grid-area: project4;
}

.project5 {
  grid-area: project5;
}

.project-lists img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-style: solid;
  border-color: #357266;
  border-width: 1px;
  border-radius: 25px;
}

.contactMe {
  margin-top: 10px;
  margin-bottom: 30px;
}

.contactMe > a {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #42436F;
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  color: #357266;
}

#lola {
  margin-left: 7px;
  font-style:italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}